body{
    font-size: 15px;
    padding: 20px 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.smallFont {
    font-size: 11px;
}

.Ralign {
    float: right;
}

.clear {
    clear: both;
}

.errors {
    color: #aa0000;
    margin: 0 0 10px 0;
}

.error {
    color: #aa0000;
    margin: 0 0 10px 0;
    font-size: 11px;
}

.center{
    text-align: center;
}

.loginpage {
    background-image: url('/img/mount_everest_best_scene.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    width: 80%;
    max-width: 400px; 
    background: #ffffff;
    border: 1px solid #cccccc;
    margin: 8% auto;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

form {
    margin: 0;
    position: relative;
}

.relative {
    position: relative;
}

.loginForm {
    margin: 10px;
    padding: 10px;
}

.loginicon {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    margin: 3px;
}

.inlineinput {
    display: inline;
    width: 90%;
    height: 30px;
    float: left;
    padding-left: 38px;
    font-size: 18px;
}

form input {
    margin: 0 0 10px 0;
    padding: 4px;
    border: 1px solid #BBBBBB;
    background: #ffffff;
}

form .submit {
    width: 70px;
}

form .submit115 {
    width: 115px;
}

form input:last-child {
    margin: 0;
}

form input[type=submit]:hover {
    background: #eeeeee;
    cursor: pointer;
}

h1 {
    margin: 0 0 15px 0;
    padding: 0 0 15px 0;
    font-size: 18px;
    color: #41546c;
    border-bottom: 1px solid #cccccc;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
    line-height: 25px;
}

a:link, a:visited {
    color: #4e7ea7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form input.inliner {
    display: inline;
}

.forgotdiv {
    margin-top: 20px;
}

.paginationTasks {
    border-top: 1px solid #cccccc;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 5px;
}

.paginationTasks .pagination li {
    display: inline;
    padding: 2px;
    margin: 5px;
}





